@import url('../../App.css');

.custom-select {
    position: relative;
    width: 100%;
  }

.custom-select  input:focus {
    /* margin-bottom: 5px; */
    border: none!important;
    border-color: none!important;
}
  
  input {
    width: 100%;
    padding: 10px;
    cursor: pointer;
  }
  
  .options-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 1;
    height: 300px;
    overflow: auto;
  }

  .options-list li {
    padding: 10px;
  }

  /* li::before {
    display: none;
  } */
  
  li:hover {
    color: var(--color-darkgreen);
    cursor: pointer;
  }

  .tab-pills {
    /* margin: 25px 0; */
    display: flex;
    width: 100%;
    overflow: auto;
  }

  .tab-pills > span {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid #AEAEAE;
    margin: 10px;
    white-space: nowrap
  }

  .tab-pills > span:hover {
    cursor: pointer;
    border: 1px solid gray;
  }

  .tab-pills > span.active {
    background: var(--color-darkgreen);
    color: #fff;
    border: 1px solid transparent;
  }


  /* Avatar */
  .avatar-block {
    display: flex;
    margin: 25px 0;
    flex-wrap: wrap;
    /* justify-content: space-between */
  }

  .avatar-block > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .avatar-block > div.active {
    color: var(--color-darkgreen);
  }

  .avatar-block > div.active img {
    background-color: var(--color-darkgreen);
    box-shadow: 0px 8px 11px 0px #00000059;
    border: 1px solid var(--color-darkgreen);
  }

  .avatar-block img {
    width: 124px;
    height: 124px;
    border: 0.5px solid #000000;
    border-radius: 50%;
    margin: 20px;
  }

  .avatar-block .large {
    object-fit: contain;
  }

  .avatar-block .small {
    object-fit: none;
  }

  .avatar-block img:hover {
    box-shadow: 0px 8px 11px 0px #00000059;
  }

ol {
  flex-wrap: wrap;
}

/* Antd */

.ant-breadcrumb-separator {
  padding-left: 0;
  padding-right: 0;
  margin-inline: 0!important;
}

.down-outlined {
  color: #D9D9D9;
  font-size: 20px;
}

.up-outlined {
  color: #686868;
  font-size: 20px;
}
  
.price-range {
  display: flex;
    justify-content: center;
    align-items: center;
}

.price-range label {
  padding: 10px;
  font-weight: 500;
}